/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Quitar el espacio entre las celdas */
    margin-top: 20px; /* Espacio superior */
}

th, td {
    padding: 12px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde de las celdas */
    text-align: left; /* Alinear texto a la izquierda */
    word-wrap: break-word; /* Romper palabras largas */
}

/* Establecer un ancho mínimo para algunas columnas */
th:nth-child(2), td:nth-child(2) { /* Descripción */
    min-width: 150px; /* Ancho mínimo */
}

th:nth-child(5), td:nth-child(5) { /* Proveedor */
    min-width: 150px; /* Ancho mínimo */
}

th {
    background-color: #007BFF; /* Color de fondo de los encabezados */
    color: white; /* Color del texto de los encabezados */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #e2e2e2; /* Color de fondo al pasar el ratón sobre la fila */
}

/* Estilo del botón */
.btn {
    display: block;
    margin: 20px auto; /* Margen automático para centrar */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de fuente */
}

.btn:hover {
    background-color: #0056b3; /* Color al pasar el ratón sobre el botón */
}
h2 {
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior para espacio */
    color: #333; /* Color del texto */
}

/* Estilos para el formulario de búsqueda */
form {
    margin-bottom: 20px; /* Espacio debajo del formulario */
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: flex-start; /* Alinear al inicio */
    align-items: center; /* Centrar verticalmente */
}

form input[type="text"] {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-right: 10px; /* Espacio a la derecha del input */
    width: 250px; /* Ancho del input */
}

form button {
    padding: 10px 15px; /* Espaciado interno */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor a pointer */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

form button:hover {
    background-color: #0056b3; /* Color del fondo al pasar el mouse */
}
