/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #e2e3e3;
    background-size: cover;
    color: #333;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dashboard-container {
    display: flex;
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    animation: fadeInMain 1.5s ease forwards;
}

@keyframes fadeInMain {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Barra superior */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideDownTopbar 1s ease-in-out;
}

@keyframes slideDownTopbar {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.topbar h1 {
    margin: 0;
    color: #ffffff; /* Color del título */
}

/* Contenido */
.content {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: fadeInContent 1.5s ease-in-out;
}

@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.content p {
    font-size: 16px;
    color: #000000;
}

/*sidear*/

/* General */
.sidebar {
    width: 250px;
    background-color: #461615; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 200vh; /* Ocupa toda la altura de la ventana */
    border-right: 2px solid #4c4646; /* Línea divisoria en el lado derecho */
    animation: slideInLeft 1s ease-in-out; /* Animación opcional */
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 30px 0;
    opacity: 0;
    animation: slideInItem 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.Linea{
    width: 100%; /* Largo de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea (negro) */
    margin: -30 ; /* Espaciado arriba y abajo */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s, text-decoration 0.3s;
}

.sidebar ul li a:hover {
    transform: scale(1.1);
    color: #EC1B1A; /* Cambia el color cuando pasas el mouse */
    text-decoration: underline;
}

.sidebar ul li i {
    margin-right: 10px;
}

/* Animaciones */
@keyframes fadeInLogo {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInItem {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
