body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e3e3;
    color: #333;
    animation: fadeIn 2s ease-in;
}

body {
    font-family: 'Poppins', sans-serif; /* Cambié la fuente a Poppins */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease-in; /* Animación para el body */
}

/* Animación para el body */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in; /* Animación para el contenedor */
}

h1 {
    text-align: center;
    color: #333;
    animation: fadeIn 1s ease-in; /* Animación para el título */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s; /* Transición para el borde */
}

/* Cambio de color en el foco */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
    border-color: #fcbdfc; /* Color de enfoque */
    outline: none;
}

button, .boton {
    width: auto; /* Cambia a 'auto' para que no ocupen el 100% del ancho */
    padding: 5px 5px; /* Espaciado interno más equilibrado */
    background-color: #461615; /* Color del botón */
    color: white; /* Color del texto */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transición para el botón */
    margin: 10px 0; /* Agregar espacio entre los botones */
}

button:hover, .boton:hover {
    background-color: #EC1B1A; /* Color en hover */
    transform: scale(1.05); /* Efecto de escala en hover */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #461615; /* Color del botón */
    color: white; /* Color de texto */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transición para el botón */
}

button:hover {
    background-color: #EC1B1A; /* Color en hover */
    transform: scale(1.05); /* Efecto de escala en hover */
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: white; /* Color del enlace */
    transition: color 0.3s; /* Transición para el color */
}

a:hover {
    text-decoration: underline;
    color: #f000c8; /* Color en hover */
    text-align: center
}

p {
    text-align: center;
}
